# HW2, Part 1: Real-world SQL #

In [8]:
import subprocess, sqlite3, csv, os

currentDB = "part1test.db"

# for autograder!
# TODO: again this requires corresponding setup for grading!

if ( 'CS186GRADER' in os.environ ):
    currentDB = "part1.db"    

if not ( os.path.isfile( currentDB ) ):
    raise IOError( "DB File " + currentDB + " is not here!" )
db = sqlite3.connect( currentDB )
db.text_factory = str
print(currentDB)

part1test.db

In [9]:
# Q1
# Question: for all companies whose status column contains 'acquired', show
# the associated acquisition price_amount (if there is no acquisition record, price_amount
# should be returned as NULL)
# Note: ignore duplicate data issues 
# Output: company_name, price_amount

def q1():
    db.executescript("""
        DROP VIEW IF EXISTS q1;
    
        CREATE VIEW q1 AS
        -- TODO
        select c.company_name , a.price_amount from companies c left outer join acquisitions a on a.company_name = c.company_name
          where c.status = 'acquired'
    """)
    return 
q1()

In [10]:
# Q2
# Question: How many startups, according this data, were founded (founded_at column) between 
# 2012 and 2014, inclusive (on or after 2012-01-01, and before or on 2014-12-31)?
# Output: a number (column name doesn't matter)
# Hint: time comparison will look like <= '1990-01-12'
# Note: ignore duplicate data issues 

def q2():
    db.executescript("""
        DROP VIEW IF EXISTS q2;

        CREATE VIEW q2 AS
        -- TODO
        select count( distinct company_name) from companies where founded_at between '2012-01-01' and '2014-12-31'
        ;
    """)
    return

q2() # called for your convenience

In [11]:
# Q3
# Question: What is/are the state(s) that has/have the largest number(s) of startups  in the  
#    "Security" market (i.e. market column contains the word "Security")? (Plural due to ties)
# Output: the state(s) and the corresponding number(s), column named "state" and "total" respectively.
#         Note that the test script relies on the naming of output columns.

# Notes:
# - If the output is tied, then display all (i.e. if both CA and NY have, say 1000 startups, 
#   then display both states)
# - You might want to look into the keyword "LIKE"
# - The state must be valid (i.e. not "")
# Note: ignore duplicate data issues 

def q3():
    db.executescript("""
        DROP VIEW IF EXISTS q3;
        
        CREATE VIEW q3 AS        
        -- TODO
        select v1.state, v1.total from (select c.state, count(*) as total from companies c 
        where market like '%Security%' and state like '__%' group by c.state) as v1 
        where v1.total = 
        (select max(v2.total) from 
       (select c.state, count(*) as total from companies c where market like '%Security%' and state like '__%'
       group by c.state) as v2)
        ;
    """)
    return

q3()

In [12]:
# Q4
# Question: which cities have a larger number of acquirers than startups?

# Note 
# - a startup could be counted as an acquirer, 
#   but it should only be counted at most once in each category
#   and the data is not very clean (i.e. duplicates in company_name entry)

def q4():
    db.executescript("""
    
        DROP VIEW IF EXISTS q4;
        CREATE VIEW q4 AS
        --TODO
        select v1.city as acquirer_city from
    (select  a.acquirer_city as city, count( distinct a.acquirer_name) as Total_number from acquisitions a
    group by a.acquirer_city) as v1

    except 

    select v2.city from 
    (select  a.acquirer_city as city, count( distinct a.acquirer_name) as Total_number from acquisitions a
    group by a.acquirer_city) as v2,
    (select  c.city, count(distinct c.company_name) as Total_number from companies c
    group by c.city) as v3

    where v2.city = v3.city and v2.Total_number <= v3.Total_number
        ;
    """)
    return
q4()

In [14]:
q1()
q2()
q3()
q4()
! chmod u+x test.sh
! ./test.sh

PASS q1
PASS q2
PASS q3
PASS q4
SUCCESS: Your queries worked on this dataset!